# dependencies
node_modules

# build output
dist
dist-ssr

# env & secrets
.env
.env.*
!.env.example

# local / editor
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# logs
*.log
npm-debug.log*
